Repository gordon-cs/gordon-360-api, pull requests merged in 2022-12, with the labels that each got.

#760 Update StateYourBusiness arguments and username comparison
  Gordon360/Authorization/StateYourBusiness.cs
Labels: Bug, Code Quality

#761 [Rec-IM] DB Refactor
  Gordon360/Controllers/RecIM/ParticipantsController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/CCT/Activity.cs
  Gordon360/Models/CCT/ActivityType.cs
  Gordon360/Models/CCT/Context/CCTContext.cs
  Gordon360/Models/CCT/Context/efpt.CCT.config.json
  Gordon360/Models/CCT/Match.cs
  Gordon360/Models/CCT/MatchParticipant.cs
  Gordon360/Models/CCT/MatchTeam.cs
  Gordon360/Models/CCT/Participant.cs
  Gordon360/Models/CCT/ParticipantActivity.cs
  Gordon360/Models/CCT/ParticipantNotification.cs
  Gordon360/Models/CCT/ParticipantStatusHistory.cs
  Gordon360/Models/CCT/ParticipantTeam.cs
  Gordon360/Models/CCT/RoleType.cs
  Gordon360/Models/CCT/Series.cs
  Gordon360/Models/CCT/SeriesTeam.cs
  Gordon360/Models/CCT/SeriesType.cs
  Gordon360/Models/CCT/Sport.cs
  Gordon360/Models/CCT/Statistic.cs
  Gordon360/Models/CCT/Surface.cs
  Gordon360/Models/ViewModels/RecIM/ActivityCreatedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/MatchCreatedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/MatchParticipantViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantActivityCreatedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantActivityPatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantNotificationCreatedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantStatusCreatedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantStatusPatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantTeamViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesUploadViewModel.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#764 [Rec-IM] Fix return types & Add ActivityID to TeamViewModels #763
  Gordon360/Controllers/RecIM/ActivitiesController.cs
  Gordon360/Controllers/RecIM/MatchesController.cs
  Gordon360/Controllers/RecIM/ParticipantsController.cs
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Controllers/RecIM/SportsController.cs
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Models/ViewModels/RecIM/TeamViewModel.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/TeamService.cs
Labels: Rec-IM

#765 Recim ActivityID bugfix
  Gordon360/Services/RecIM/ActivityService.cs
Labels: Bug, 1 Point

#766 Add activity ID & name to match viewmodel
  Gordon360/Models/ViewModels/RecIM/MatchViewModel.cs
  Gordon360/Services/RecIM/MatchService.cs
Labels: Rec-IM

#767 [Rec-IM] Add scores to Match & Implement Sportsmanship score to Team
  Gordon360/Models/ViewModels/RecIM/MatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamMatchHistoryViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamViewModel.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM
