Repository gordon-cs/gordon-360-api, pull requests merged in 2022-11, with the labels that each got.

#728 GET/PUT/POST Activity, Series, Match Routes
  Gordon360/Controllers/RecIM/ActivitiesController.cs
  Gordon360/Controllers/RecIM/MatchesController.cs
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/CCT/Activity.cs
  Gordon360/Models/CCT/ActivityType.cs
  Gordon360/Models/CCT/Context/CCTContext.cs
  Gordon360/Models/CCT/Context/efpt.CCT.config.json
  Gordon360/Models/CCT/Match.cs
  Gordon360/Models/CCT/MatchTeam.cs
  Gordon360/Models/CCT/ParticipantActivity.cs
  Gordon360/Models/CCT/SeriesTeam.cs
  Gordon360/Models/CCT/SeriesType.cs
  Gordon360/Models/CCT/Sportmanship.cs
  Gordon360/Models/CCT/Team.cs
  Gordon360/Models/CCT/TeamStatus.cs
  Gordon360/Models/ViewModels/RecIM/ActivityViewModel.cs
  Gordon360/Models/ViewModels/RecIM/CreateActivityViewModel.cs
  Gordon360/Models/ViewModels/RecIM/CreateMatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/CreateSeriesViewModel.cs
  Gordon360/Models/ViewModels/RecIM/MatchTeamViewModel.cs
  Gordon360/Models/ViewModels/RecIM/MatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SchedulerViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamMatchHistoryViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamRecordViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamViewModel.cs
  Gordon360/Models/ViewModels/RecIM/UpdateActivityViewModel.cs
  Gordon360/Models/ViewModels/RecIM/UpdateMatchTeamViewModel.cs
  Gordon360/Models/ViewModels/RecIM/UpdateSeriesViewModel.cs
  Gordon360/Program.cs
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#736 RecIM registration availability
  Gordon360/Models/ViewModels/RecIM/ActivityViewModel.cs
  Gordon360/Services/RecIM/ActivityService.cs
Labels: Bug

#734 RecIM - Participant Routes
  Gordon360/Controllers/RecIM/ActivitiesController.cs
  Gordon360/Controllers/RecIM/MatchesController.cs
  Gordon360/Controllers/RecIM/ParticipantsController.cs
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/ViewModels/RecIM/ActivityPatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityUploadViewModel.cs
  Gordon360/Models/ViewModels/RecIM/MatchTeamPatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/MatchUploadViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantPatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantStatusPatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantStatusViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesPatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesUploadViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamMatchHistoryViewModel.cs
  Gordon360/Program.cs
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#740 [Rec-IM] Matchservice Bug Fix
  Gordon360/Services/RecIM/MatchService.cs
Labels: Rec-IM

#731 [Rec-IM] Team Routes
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/ViewModels/RecIM/ParticipantTeamViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamPatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamUploadViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamViewModel.cs
  Gordon360/Program.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#729 Involvement images
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Controllers/ActivitiesController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Program.cs
  Gordon360/Services/ActivityService.cs
  Gordon360/Utilities/ServerUtils.cs
Labels: Bug

#746 [RecIM] Add Participant Notifications to Participants
  Gordon360/Controllers/RecIM/ParticipantsController.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantNotificationUploadViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantNotificationViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantViewModel.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#750 HOTFIX: Remove extra slash from image url
  Gordon360/Services/ActivityService.cs
Labels: Bug, Broken Feature

#720 Remove ID Numbers from Membership & Request Endpoints
  .gitattributes
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Controllers/AdminsController.cs
  Gordon360/Controllers/EmailsController.cs
  Gordon360/Controllers/HousingController.cs
  Gordon360/Controllers/MembershipsController.cs
  Gordon360/Controllers/ProfilesController.cs
  Gordon360/Controllers/RequestsController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Gordon360.csproj
  Gordon360/Models/CCT/Context/CCTContext.cs
  Gordon360/Models/CCT/Context/DbContextExtensions.cs
  Gordon360/Models/CCT/Context/efpt.CCT.config.json
  Gordon360/Models/CCT/Countries.cs
  Gordon360/Models/CCT/InvolvementOffering.cs
  Gordon360/Models/CCT/MembershipView.cs
  Gordon360/Models/CCT/RequestView.cs
  Gordon360/Models/ViewModels/AdminViewModel.cs
  Gordon360/Models/ViewModels/JenzibarActivitiesViewModel.cs
  Gordon360/Models/ViewModels/MembershipUploadViewModel.cs
  Gordon360/Models/ViewModels/MembershipViewModel.cs
  Gordon360/Models/ViewModels/RequestUploadViewModel.cs
  Gordon360/Program.cs
  Gordon360/Services/AccountService.cs
  Gordon360/Services/AdministratorService.cs
  Gordon360/Services/EmailService.cs
  Gordon360/Services/HousingService.cs
  Gordon360/Services/MembershipRequestService.cs
  Gordon360/Services/MembershipService.cs
  Gordon360/Services/ServiceInterfaces.cs
  Gordon360/Static Classes/Names.cs
Labels: Code Quality, Privacy, Epic

#749 [Rec-IM] Team GET route hotfix
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/TeamService.cs
Labels: Bug, Rec-IM

#753 Fix Team Routes
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/ViewModels/RecIM/SeriesPatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamUploadViewModel.cs
  Gordon360/Program.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Bug, Rec-IM, Broken Feature

#756 Fix Attended Events
  Gordon360/Services/EventService.cs
Labels: Bug

#758 Match chapel events to 25Live events properly and robustly
  Gordon360/Models/ViewModels/AttendedEventViewModel.cs
  Gordon360/Services/EventService.cs
Labels: Bug
