Repository gordon-cs/gordon-360-api, pull requests merged in 2023-01, with the labels that each got.

#762 [RecIM] Add authorization to RecIM (fixes naming conventions)
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Controllers/RecIM/ActivitiesController.cs
  Gordon360/Controllers/RecIM/MatchesController.cs
  Gordon360/Controllers/RecIM/ParticipantsController.cs
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Controllers/RecIM/SportsController.cs
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/RecIM/SportService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
  Gordon360/Static Classes/Names.cs
Labels: Rec-IM

#772 Require Username in MembershipUploadViewModel from Request
  Gordon360/Models/ViewModels/MembershipUploadViewModel.cs
  Gordon360/Services/MembershipRequestService.cs
Labels: Bug, Patch

#775 [Rec-IM] Completed Lookup Routes
  Gordon360/Controllers/RecIM/ActivitiesController.cs
  Gordon360/Controllers/RecIM/MatchesController.cs
  Gordon360/Controllers/RecIM/ParticipantsController.cs
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#776 [Rec-IM] Service & ViewModel cleanup
  Gordon360/Controllers/RecIM/ActivitiesController.cs
  Gordon360/Controllers/RecIM/MatchesController.cs
  Gordon360/Controllers/RecIM/ParticipantsController.cs
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Models/ViewModels/RecIM/ActivityCreatedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityViewModel.cs
  Gordon360/Models/ViewModels/RecIM/MatchCreatedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/MatchExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/MatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantActivityViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantNotificationExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantNotificationViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantStatusCreatedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantStatusExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantStatusViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SchedulerExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesCreatedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamCreatedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamMatchHistoryViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamViewModel.cs
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: 1 Point, Rec-IM

#780 [Rec-IM] ActivityType Integration
  Gordon360/Models/CCT/Activity.cs
  Gordon360/Models/CCT/ActivityType.cs
  Gordon360/Models/CCT/Context/CCTContext.cs
  Gordon360/Models/CCT/Context/efpt.CCT.config.json
  Gordon360/Models/CCT/MembershipView.cs
  Gordon360/Models/ViewModels/RecIM/ActivityExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityPatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityUploadViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityViewModel.cs
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/RecIM/SeriesService.cs
Labels: Rec-IM

#783 [Rec-IM] Quality of Life changes
  Gordon360/Models/ViewModels/RecIM/ActivityExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamExtendedViewModel.cs
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/TeamService.cs
Labels: Rec-IM

#784 [Rec-IM] Update scheduling branch
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Controllers/RecIM/ActivitiesController.cs
  Gordon360/Controllers/RecIM/MatchesController.cs
  Gordon360/Controllers/RecIM/ParticipantsController.cs
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Controllers/RecIM/SportsController.cs
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Models/CCT/Activity.cs
  Gordon360/Models/CCT/ActivityType.cs
  Gordon360/Models/CCT/Context/CCTContext.cs
  Gordon360/Models/CCT/Context/efpt.CCT.config.json
  Gordon360/Models/CCT/MembershipView.cs
  Gordon360/Models/ViewModels/RecIM/ActivityExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityPatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityUploadViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityViewModel.cs
  Gordon360/Models/ViewModels/RecIM/MatchCreatedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/MatchExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/MatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantActivityViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantNotificationExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantNotificationViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantStatusCreatedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantStatusExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantStatusViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SchedulerExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesCreatedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamCreatedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamMatchHistoryViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamViewModel.cs
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/RecIM/SportService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
  Gordon360/Static Classes/Names.cs
Labels: Rec-IM

#786 Change Line Endings of Files
  Gordon360/Controllers/AccountsController.cs
  Gordon360/Static Classes/Helpers.cs
Labels: Code Quality

#787 [Rec-IM] Replace local variables with global variables
  Gordon360/Authorization/StateYourBusiness.cs
Labels: Rec-IM

#788 [Rec-IM] Fix SYB global variables
  Gordon360/Authorization/StateYourBusiness.cs
Labels: Bug, Rec-IM

#791 [Rec-IM] Team based information upgrade
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/ViewModels/RecIM/TeamMatchHistoryViewModel.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#794 [RecIM] Fix Edit Match Stats Route by Using Status ID instead of Description
  Gordon360/Models/ViewModels/RecIM/MatchStatsPatchViewModel.cs
  Gordon360/Services/RecIM/MatchService.cs
Labels: Bug, 1 Point
