Repository gordon-cs/gordon-360-api, pull requests merged in 2023-02, with the labels that each got.

#799 Student News Hotfix - broken URL
  Gordon360/Services/NewsService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Bug, News, 1 Point

#800 [Rec-IM] Application: Team name check & Activity joined user check
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: 1 Point, Rec-IM

#797 [Rec-IM] Email notifications for Team Invites
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#798 [Rec-IM] Series Scheduling and 1st part of auto-scheduling
  Gordon360/Controllers/RecIM/ActivitiesController.cs
  Gordon360/Controllers/RecIM/MatchesController.cs
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Controllers/RecIM/SportsController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/CCT/SeriesSurface.cs
  Gordon360/Models/ViewModels/RecIM/Scheduler.cs
  Gordon360/Models/ViewModels/RecIM/SeriesScheduleUploadViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesScheduleViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesTeamPatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SportPatchViewModel.cs
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/RecIM/SportService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#805 [Rec-IM] Return type error
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Properties/launchSettings.json
Labels: Bug, Rec-IM

#808 [Rec-IM] Match Edit Fixes + StateYourBusiness Fix
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Controllers/RecIM/MatchesController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/ViewModels/RecIM/TeamMatchHistoryViewModel.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#738 [RecIM] Scheduling & Automation //IN-PROGRESS
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Services/RecIM/SeriesService.cs
Labels: Rec-IM

#810 [Rec-IM] Replace Conflict() with UnprocessableEntity()
  Gordon360/Controllers/RecIM/TeamsController.cs
Labels: Bug, 1 Point, Rec-IM

#809 [Rec-IM] Accept team invite
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: 1 Point, Rec-IM

#806 Student-news posting approval
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Controllers/NewsController.cs
  Gordon360/Services/NewsService.cs
  Gordon360/Services/ServiceInterfaces.cs
  Gordon360/Static Classes/Names.cs
Labels: News

#812 [RecIM] Clarifiy Error Messages
  Gordon360/Controllers/RecIM/TeamsController.cs
Labels: Bug, Privacy, 1 Point

#815 [Rec-IM] SQL and Logic updates
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/CCT/Activity.cs
  Gordon360/Models/CCT/CUSTOM_PROFILE.cs
  Gordon360/Models/CCT/SeriesSurface.cs
  Gordon360/Models/ViewModels/RecIM/ActivityExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityPatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityUploadViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityViewModel.cs
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM, VITAL

#816 [Rec-IM] Series/Match Delete Routes, Fix Match Edit
  Gordon360/Controllers/RecIM/MatchesController.cs
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/ViewModels/RecIM/MatchPatchViewModel.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#818 [Rec-IM] Hot-fix Team Invite
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Models/ViewModels/RecIM/TeamInviteViewModel.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Bug, Rec-IM, Broken Feature

#813 [Rec-IM] Check activity max team capacity before create new team
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Code Quality, Rec-IM

#822 [Rec-IM] Team function renaming hotfix
  Gordon360/Controllers/RecIM/TeamsController.cs
Labels: Bug, Rec-IM

#820 [Rec-IM] Auto Scheduling Part 2 - Single Elimination
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/ViewModels/RecIM/Scheduler.cs
  Gordon360/Services/RecIM/SeriesService.cs
Labels: Rec-IM

#827 [Rec-IM] Add all activity team information to match
  Gordon360/Services/RecIM/MatchService.cs
Labels: Rec-IM

#828 [Rec-IM] Fix "incredibly intelligent" add team ID of team just deleted
  Gordon360/Services/RecIM/MatchService.cs
Labels: Rec-IM

#831 [Rec-IM] Misc fixes
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/SeriesService.cs
Labels: Rec-IM

#832 [Rec-IM] Implement FromBody response for invites
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Models/ViewModels/RecIM/TeamInviteResponseViewModel.cs
Labels: Rec-IM

#833 Fix the ImagePath for news images
  Gordon360/Services/NewsService.cs
Labels: Bug

#840 [Rec-IM] Fix wrong spot of logic
  Gordon360/Controllers/RecIM/TeamsController.cs
Labels: Rec-IM

#841 [Rec-IM] activity registration condition
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#842 Student News GetNewsApproved()
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Controllers/NewsController.cs
  Gordon360/Services/NewsService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: News

#847 [Rec-IM] Add activity date inheritance
  Gordon360/Services/RecIM/SeriesService.cs
Labels: Rec-IM

#846 [Rec-IM] Attendance
  Gordon360/Controllers/RecIM/MatchesController.cs
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/CCT/MatchParticipant.cs
  Gordon360/Models/CCT/Team.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantAttendanceViewModel.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#843 Hide advisors from students
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Controllers/ProfilesController.cs
  Gordon360/Enums/AuthGroup.cs
Labels: Privacy, Profile Page
