Repository gordon-cs/gordon-360-api, pull requests merged in 2023-03, with the labels that each got.

#848 [Rec-IM] "true" delete
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Controllers/RecIM/ActivitiesController.cs
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#851 [Rec-IM] Series Schedule routes
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/CCT/Activity.cs
  Gordon360/Models/CCT/Context/efpt.CCT.config.json
  Gordon360/Models/CCT/SeriesSchedule.cs
  Gordon360/Models/ViewModels/RecIM/ActivityExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityPatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityUploadViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesScheduleViewModel.cs
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#853 Update workflow for .NET 7 CLI semantics
  .github/workflows/ci-cd.yml
Labels: Dependencies

#852 [Rec-IM] Get Attendance route
  Gordon360/Controllers/RecIM/MatchesController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#849 [Rec-IM] auto-scheduling part 3
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/ViewModels/RecIM/Scheduler.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#856 [Rec-IM] Surfaces routes
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Controllers/RecIM/MatchesController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/ViewModels/RecIM/SurfaceUploadViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SurfaceViewModel.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/ServiceInterfaces.cs
  Gordon360/Static Classes/Names.cs
Labels: Rec-IM

#857 [Rec-IM] Time Fix
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Extensions/DateTimeExtensions.cs
  Gordon360/Models/ViewModels/RecIM/ActivityExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ActivityViewModel.cs
  Gordon360/Models/ViewModels/RecIM/MatchViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantNotificationViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantStatusHistoryViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantTeamViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesScheduleViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamMatchHistoryViewModel.cs
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/RecIM/TeamService.cs
Labels: Rec-IM

#859 [Rec-IM] participant role fix
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Services/RecIM/TeamService.cs
Labels: Rec-IM

#858 [Rec-IM] Scheduling Part 3 Conclusion Arc Part 1
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Extensions/DateTimeExtensions.cs
  Gordon360/Models/ViewModels/RecIM/SeriesPatchViewModel.cs
  Gordon360/Services/RecIM/SeriesService.cs
Labels: Rec-IM

#854 [Rec-IM] Image POST/UPDATE/DELETE logic
  Gordon360/Services/RecIM/ActivityService.cs
  Gordon360/Services/RecIM/SportService.cs
  Gordon360/Services/RecIM/TeamService.cs
Labels: Enhancement, Rec-IM

#861 [Rec-IM] Team Record management/automation + Bug fixes + improvements
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Exceptions/CustomExceptionFilter.cs
  Gordon360/Exceptions/CustomExceptions.cs
  Gordon360/Models/ViewModels/RecIM/MatchExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/TeamRecordViewModel.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/RecIM/TeamService.cs
Labels: Rec-IM

#867 [Rec-IM] scheduling part4 part1
  Gordon360/Controllers/RecIM/ActivitiesController.cs
  Gordon360/Services/RecIM/SeriesService.cs
Labels: Rec-IM

#869 [Rec-IM] StateYourBusiness.cs renaming recim variables
  Gordon360/Authorization/StateYourBusiness.cs
Labels: 1 Point, Rec-IM

#873 Fix Save Workflow for ApartApp
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Models/CCT/dbo/Housing_Applications.cs
  Gordon360/Models/CCT/dbo/Housing_HallChoices.cs
  Gordon360/Models/ViewModels/ApartmentApplicantViewModel.cs
  Gordon360/Services/HousingService.cs
Labels: Bug, ApartApps, Broken Feature

#872 RELEASE HOTFIX: Fix Logic for ApartApp Housing Admin Check
  Gordon360/Controllers/HousingController.cs
  Gordon360/Services/HousingService.cs
Labels: Bug, ApartApps, Broken Feature

#874 RELEASE HOTFIX: Fix Save workflow for ApartApp
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Models/CCT/Housing_Applications.cs
  Gordon360/Models/CCT/Housing_HallChoices.cs
  Gordon360/Models/ViewModels/ApartmentApplicantViewModel.cs
  Gordon360/Services/HousingService.cs
Labels: Bug, ApartApps, Broken Feature

#876 RELEASE HOTFIX: Add CCTContext into StateYourBusiness
  Gordon360/Authorization/StateYourBusiness.cs
Labels: Bug, ApartApps, Broken Feature

#877 RELEASE HOTFIX: Apartapp Hall Choice Foreign Key
  Gordon360/Models/CCT/Context/CCTContext.cs
  Gordon360/Models/CCT/Housing_Applications.cs
  Gordon360/Models/CCT/Housing_HallChoices.cs
Labels: ApartApps, Broken Feature
