Repository gordon-cs/gordon-360-api, pull requests merged in 2023-04, with the labels that each got.

#870 [Rec-IM] Scheduling Part 4 Part 2
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/CCT/Context/CCTContext.cs
  Gordon360/Models/CCT/Context/efpt.CCT.config.json
  Gordon360/Models/CCT/RecIM/Match.cs
  Gordon360/Models/CCT/RecIM/MatchBracket.cs
  Gordon360/Models/ViewModels/RecIM/MatchBracketViewModel.cs
  Gordon360/Models/ViewModels/RecIM/Scheduler.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#878 Fix Housing Hallchoices Connection
  Gordon360/Models/CCT/Context/CCTContext.cs
  Gordon360/Models/CCT/dbo/Housing_Applications.cs
  Gordon360/Models/CCT/dbo/Housing_HallChoices.cs
Labels: ApartApps

#879 HOTFIX: update hallchoiceid from bigint to int
  Gordon360/Models/CCT/dbo/Housing_HallChoices.cs
Labels: ApartApps

#880 Save Changes after deleting and return true.
  Gordon360/Services/HousingService.cs
Labels: Bug

#875 Small update to GetImageURL() Logic
  Gordon360/Services/NewsService.cs
Labels: News

#885 [Rec-IM] Admin Reporting + Email Opt + Schedule Bug Fix
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Controllers/RecIM/ParticipantsController.cs
  Gordon360/Controllers/RecIM/RecIMController.cs
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Models/CCT/Context/CCTContext.cs
  Gordon360/Models/CCT/RecIM/Participant.cs
  Gordon360/Models/CCT/dbo/Housing_HallChoices.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantExtendedViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ReportViewModel.cs
  Gordon360/Models/ViewModels/RecIM/SeriesScheduleExtendedViewModel.cs
  Gordon360/Program.cs
  Gordon360/Services/AccountService.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/RecIMService.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
  Gordon360/Static Classes/Names.cs
Labels: Rec-IM

#887 [Rec-IM] delete sport
  Gordon360/Controllers/RecIM/SportsController.cs
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Services/RecIM/SportService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#894 [Rec-IM] Fix round robin scheduling
  Gordon360/Services/RecIM/SeriesService.cs
Labels: Rec-IM

#895 [Rec-IM] team listing image
  Gordon360/Models/ViewModels/RecIM/TeamRecordViewModel.cs
  Gordon360/Services/RecIM/SeriesService.cs
  Gordon360/Services/RecIM/TeamService.cs
Labels: Rec-IM

#897 [Rec-IM] Fix delete match bug
  Gordon360/Services/RecIM/MatchService.cs
Labels: Rec-IM

#898 [Rec-IM] update series bug
  Gordon360/Services/RecIM/SeriesService.cs
Labels: Rec-IM

#900 [Rec-IM] update async routes
  Gordon360/Controllers/RecIM/ActivitiesController.cs
  Gordon360/Controllers/RecIM/MatchesController.cs
  Gordon360/Controllers/RecIM/ParticipantsController.cs
  Gordon360/Controllers/RecIM/SeriesController.cs
  Gordon360/Controllers/RecIM/SportsController.cs
  Gordon360/Controllers/RecIM/TeamsController.cs
Labels: Code Quality, Rec-IM

#899 [Rec-IM] scheduling finale (probably)
  Gordon360/Documentation/Gordon360.xml
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/SeriesService.cs
Labels: Feature, Rec-IM

#891 [Rec-IM] Create & Edit custom participants
  Gordon360/Authorization/StateYourBusiness.cs
  Gordon360/Controllers/RecIM/ParticipantsController.cs
  Gordon360/Controllers/RecIM/TeamsController.cs
  Gordon360/Models/CCT/RecIM/Participant.cs
  Gordon360/Models/ViewModels/RecIM/CustomParticipantViewModel.cs
  Gordon360/Models/ViewModels/RecIM/ParticipantExtendedViewModel.cs
  Gordon360/Services/RecIM/MatchService.cs
  Gordon360/Services/RecIM/ParticipantService.cs
  Gordon360/Services/RecIM/TeamService.cs
  Gordon360/Services/ServiceInterfaces.cs
Labels: Rec-IM

#902 [Rec-IM] allow emails
  Gordon360/Services/RecIM/ParticipantService.cs
Labels: Rec-IM
